*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: sans-serif;
    background: coral;
    color: #fff;
    line-height: 1.6;
}

.slidercontainer{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: auto;
}

.slider{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.open{
    opacity:1;
}

.slider .content{
    position:absolute;
    left: -700px;
    opacity: 0;
    bottom: 70px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 35px;
}

.slider.open .content{
    opacity: 1;
    transform: translateX(700px);
    transition: all 0.7s ease-in-out 0.3s;
}

#btnleft{
    position: absolute;
    top: 50%;
    left: 50px;
}
#btnright{
    position: absolute;
    top: 50%;
    right: 50px;
}



button{
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    padding: 13px 15px;
    outline: none;
    cursor: pointer;
}


#btnright:hover {
    background-color: #fff;
    color: black;
}
#btnleft:hover {
    background-color: #fff;
    color: black;
}

.slider:first-child{
    background: url("https://source.unsplash.com/user/dog") no-repeat center center/cover;
    
}

.slider:nth-child(2){
    background: url("https://source.unsplash.com/user/erondu") no-repeat center top/cover;
}

.slider:nth-child(3){
    background: url("https://source.unsplash.com/user/tree") no-repeat center top/cover;
}

.slider:nth-child(4){
    background: url("https://source.unsplash.com/user/dog/1600x900") no-repeat center top/cover;
}

.slider:nth-child(5){
    background: url("https://source.unsplash.com/user/erondu/1600x900") no-repeat center top/cover;
}

.slider:nth-child(6){
    background: url("https://source.unsplash.com/user/tree") no-repeat center top/cover;
}







@media(max-width: 500px){
    .slider .content{
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slider.open .content{
        
        transform: translateY(-300px);
        
    }
}