*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 280px;
    height: 370px;
    background: url(./img/Apple-iPhone-11-Pro-Max.jpg) center / cover no-repeat;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    border-radius: 10px;
    overflow: hidden;
    transition: .4s ease;
}

.layer_container{
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 230px;
    background: #fff;
    clip-path: polygon(0 0, 100% 100% , 100% 100%, 0 100%);
    transition: 1s;
    transform: translateY(230px);
}

.text_container{
    margin: 30px 0 0 15px;
}

#name{
    font-size: 16px;
    font-weight: bolder;
}

#collection{
    margin-top: 5px;
    font-size: 11px;
    padding-right: 2px;
}

.star{
    margin-top: 5px;
    font-size: 13px;
    color: #FDCC0D;
}

.sizes{
    width: 200px;
}

.sizes span{
    font-size: 13px;
    text-transform: lowercase;
}

.sizes ul{
    display: flex;
    list-style: none;
}

ul li{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    font-size: 11px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .5s;
}

#price{
    margin-top: 20px;
    font-weight: bolder;
}

.cart_btn{
    position: absolute;
    display: block;
    bottom: 30px;
    right: 15px;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgba(240, 58, 53, 1);
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(240 , 58, 53, .3);
}

.container:hover{
    background-position: 0 -90px;
    
}

.container:hover .layer_container{
    clip-path: polygon(0 0, 100% 10%, 100% 100% , 0 100%);
    transform: translateY(0);
}

ul li:hover{
    border-color: rgba(240, 58, 53, 1);
}